* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: #000000;
    color: #fff;
    background-image:url(background.png);
}

#wrapper {
    max-width: 960px;
    margin: 0 auto;
}

p {
    margin-right: 12px;
}

a {
    color: #aaaaaa;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
}

a:active {
    text-decoration: underline;
}

header {
    width: 100%;
    height: 60px;
}

header h1 {
    float: left;
    font-size: 22px;
    font-weight: 100;
    padding-left: 5px;
}

header nav {
    float: left;
}

header a {
    margin: 25px;
    padding: 25px;
    position: relative;
    top: 1px;
}

header a, header h1 {
    line-height: 44px;
}

#home-banner {
    margin-top: 70px;
    text-align: center;
}

#home-banner h1 {
    font-family: 'Satisfy', cursive, "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 60px;
    font-weight: 100;
    margin-top: 8%;
}

#home-banner h2 {
    font-family: 'Satisfy', cursive, "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    font-size: 30px;
    font-weight: 100;
    margin: 0 5% 10px 5%;
}

#about {
    width: 45%;
    float: left;
}

#about h2 {
    font-family: 'Satisfy', cursive, "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; 
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 8px;
}

#about p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 16px;
}

@media only screen and (min-width: 615px) {
    /* tablets and desktop */
    .left-column, .right-column {
        width: 50%;
        padding: 0 5%;
    }
    
    .left-column {
        float: left;
    }
    
    .right-column {
        float: right;
    }
}

.home-photo {
    width: 100%;
}

.about-photo {
    width: 100%;
}

#contact-message {
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 35px;
    text-align: center;
}

.social-links div {
    float: left;
    width: 25%;
    margin-bottom: 35px;
    text-align: center;
}

.social-links img {
    width:60%;
}

.portfolio-clips div {
    border: 5px white;
    padding: 20px;
}

.portfolio-links {
    text-align: center;
}

.page-content a {
     color: #fa5858;   
}

footer {
    clear: both;
    color: #ffffff;
    font-size: 12px;
    padding: 0 10px 0 10px;
    margin-top: 35px;
    text-align: center;
}

footer a {
    margin: 25px;
    padding-bottom: 25px;
    position: relative;
}